*{
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    font-size: 13px;
}



#all-hierarchy{
    background-color: yellow;
    border: 1px solid black;



    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sub-hierarchy{
    border: 1px solid blue; 
    max-width: 442px;
    margin: 10px;

}




.patches-header{
    background-color: blue;
    padding: 5px;
}

.patches-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
}

.dataparentbox{
    align-items: flex-start;
    min-width: 200px;
    max-width: 200px;
    min-height: 35px;
    margin: 10px;
    padding-bottom: 50px;
    border: 1px solid black;
    background-color: #efefef;
}

.dataparentbox div[draggable]{
    display: block;
    width: 188px;
    max-width: 188px;
    margin: 5px;
    height: 31px;
    border: 1px solid pink;
    padding: 5px;
    text-align: center;
    background-color: lime;
    cursor: pointer;
}

.dataparentbox div[draggable].itemHeading{
    background-color: red;
    width: 198px;
    max-width: 198px;
    margin: 0;
    margin-bottom: 10px;
}



#supportiveDataParent{ display: none; }



#responseToUser{
    width: 100%;
    color: red;
    padding: 5px;
    height: 30px;
    border: 1px solid green;
    margin-bottom: 10px;
}








/* SIDE PARENT */
.side-container{

}

.side-title{
    margin-top: 100px;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    border: 1px dashed red;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    background: #e0e0e0;
}

.side-container .dataparentbox{
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed red;
    border-top: none;
    border-radius: 0 0 6px 6px;
    background: white;
}

.side-container .dataparentbox div[draggable].itemHeading{
    margin: 5px;
    width: 188px;
    max-width: 188px;
}



textarea{
    width: 100%;
    height: 80px;
    resize: none;
}

#save-changes{
    display: block;
}