*{
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    font-size: 13px;
}
body{
    background-color: #f9f9f9;
}

#responseToUser{
    display: none;
    max-width: 1388px;
    color: #9c3838;
    padding: 5px;
    text-align: center;
    height: 30px;
    border: solid #d46868 1px;
    border-radius: 3px;
    background-color: #ffc2c2;
    margin: 0 auto 10px;
    font-size: 15px;
}



#all-hierarchy{
    background-color: #ECECEF;
    border: 1px solid #676C7F;
    border-radius: 5px;
    max-width: 1388px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.sub-hierarchy{
    border: 1px solid #6474AF; 
    background-color: #EDDFEF;
    max-width: 442px;
    margin: 10px;
    border-radius: 5px 5px 0 0;
}




.patches-header{
    background-color: #6474AF;
    padding: 5px;
    border-radius: 3px 3px 0 0;
}

.patches-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EDDFEF;
}

.dataparentbox{
    position: relative;
    align-items: flex-start;
    min-width: 200px;
    max-width: 200px;
    min-height: 35px;
    margin: 10px;
    padding-bottom: 50px;
    border: 1px solid #8a005a;
    background-color: #fbfbfb;
}

.dataparentbox div[draggable]{
    display: block;
    width: 188px;
    max-width: 188px;
    margin: 5px;
    height: 31px;
    border: 1px solid #ffb982;
    padding: 5px;
    text-align: center;
    background-color: #ffdabd;
    cursor: pointer;
}

.dataparentbox div[draggable].itemHeading{
    background-color: #8a005a;
    border: #8a005a;
    color: #fff;
    width: 198px;
    max-width: 198px;
    margin: 0;
    margin-bottom: 10px;
}



#supportiveDataParent{ display: none; }

#grandParentSupport, #parentSupport, #managerSupport, #childSupport{
    display: none;
}












/* SIDE PARENT */


.side-title{
    max-width: 1388px;
    margin: 30px auto 0;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    border: 1px dashed red;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    background: #e0e0e0;
}
.side-container{
    max-width: 1388px;
    margin: 0 auto;
}

.side-container .dataparentbox{
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed red;
    border-top: none;
    border-radius: 0 0 6px 6px;
    background: white;
}

.side-container .dataparentbox div[draggable].itemHeading{
    margin: 5px;
    width: 188px;
    max-width: 188px;
}



textarea{
    width: 100%;
    height: 80px;
    resize: none;
}

#save-changes{
    display: block;
}

